img.collapseExpandToggle {
	margin-right: 10px;
}
.collapsiblePanelOuter {
	border: solid 1px #0F0;
	margin-bottom: 25px;
}
.collapsiblePanelTitle {
	padding: 3px;
	border-bottom: solid 3px #0F0;
	position: relative;
}
.collapsiblePanelTitleHover {
	cursor: pointer;
}
.collapseTitleContents {
	display: inline-block;
}